<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <!-- <a mat-list-item> -->
      <a routerLink="/" routerLinkActive="active">
        <i class="material-icons"> home </i>
        <p>Início</p>
      </a>
      <br />
      <a routerLink="/products" routerLinkActive="active">
        <i class="material-icons"> storefront </i>
        <p>Produtos</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


